<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.task6.mapper.CourseMapper">
    <select id="findCourseById" parameterType="Integer" resultType="com.task6.po.Course">
        select * from t_course where id=#{id}
    </select>
</mapper>