<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <!--扫描含有注解的包-->
    <context:component-scan base-package="com.aop1"/>
    <!--以下是使用注解方式实现自定义增强类，配合写日志的例子配置-->
    <!--配置通知对象-->

    <!--开启使用注解完成织入-->
    <aop:aspectj-autoproxy proxy-target-class="true"/>

</beans>